* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
    background-color: #384047;
}

/* Header/logo Title */
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns than sits next to each other */
/* Sidebar/left column */
.side {
    flex: 70%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 6px;
    text-align: center;
    color: white;
    background: #7b1fa2;
}

/* Reponsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px){
    .row, .navbar {
        flex-direction: column;
    }
}

/* Create four equal columns */
.column {
    flex: 25%;
    padding: 20px;
}

/* On screens than are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .column {
        flex: 50%;
    }
}

.wrapper {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7b1fa2;
}

nav {
    display: flex;
    width: 90%;
}

ul li a {
    margin-right: 1.5em;
}

a.logo {
    margin-right: auto;
}

ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    font-size: 1.25em;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .wrapper {
        height: auto;
    }

    nav {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        margin-right: 0px;
    }

    ul {
        width: 100%;
        margin-bottom: 1em;
        justify-content: space-between;
    }

    ul li a {
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    a.logo {
        margin: 1.5em;
    }

    ul {
        flex-direction: column;
    }

    ul li {
        margin: 0.3em;
        text-align: center;
    }

    ul li a {
        margin-left: 0px;
    }
    
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
}

.mat-icon {
    vertical-align: middle;
}

.bg-image {
    /* The image used */
    background-image: url("../../assets/img/food1.jpg");

    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(3px);

    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



